<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    {% include "partials/meta.html" %}
</head>

<body>
    {% include "partials/header.html" %}

    <!-- Removed global main.container constraint. 
       Templates must define their own containers (wide/med/reading) -->
    <main>
        {% block content %}{% endblock %}
    </main>

    {% include "partials/footer.html" %}

    <script defer src="{% static 'js/main.js' %}"></script>
</body>

</html>